@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #2F3C7E;
}
.h-screen-vh {
    height: 100svh;

}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: auto; /* Ensure scrolling works */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}